**String Concatenation**

To concatenate (combine) two strings you can use the + operator.

In [1]:
a1 = 'python'
b1 = 'programming'

c1 = print('Concatenated string = ', a1 + b1)

Concatenated string =  pythonprogramming

To print the output with a space, add a " " between them.

In [2]:
a2 = 'python'
b2 = 'programming'

c2 = print('Concatenated string = ', a2 + " " + b2)

Concatenated string =  python programming

To print an autput with a special character between them use "#"

In [4]:
a3 = 'python'
b3 = 'programming'

c3 = print('Concatenated string = ', a3 + "-" + b3)

Concatenated string =  python-programming