<a href="https://colab.research.google.com/github/Gopika-S-Nair/Basic-Python-Programs/blob/main/Multiplication_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MULTIPLICATION TABLE**

We will be using for loop in python here to print out the multiplication table of the number given.

In [ ]:
#python program to print the multiplication table of a number

table = int(input('Show me the multiplication table of : '))


for i in range(1,11):
  print(i , '  x ',table ,'= ', i*table)

Show me the multiplication table of : 66
1   x  66 =  66
2   x  66 =  132
3   x  66 =  198
4   x  66 =  264
5   x  66 =  330
6   x  66 =  396
7   x  66 =  462
8   x  66 =  528
9   x  66 =  594
10   x  66 =  660

In [11]:
def multiplication_table(number, count):
    for i in range(1,11):
     print(i , '  x ', number ,'= ', i*number)

In [12]:
multiplication_table(9,15)

1   x  9 =  9
2   x  9 =  18
3   x  9 =  27
4   x  9 =  36
5   x  9 =  45
6   x  9 =  54
7   x  9 =  63
8   x  9 =  72
9   x  9 =  81
10   x  9 =  90