**MULTIPLICATION TABLE**

We will be using for loop in python here to print out the multiplication table of the number given.

In [4]:
#python program to print the multiplication table of a number

table = int(input('Show me the multiplication table of : '))


for i in range(1,11):
  print(i , '  x ',table ,'= ', i*table)

Show me the multiplication table of : 66
1   x  66 =  66
2   x  66 =  132
3   x  66 =  198
4   x  66 =  264
5   x  66 =  330
6   x  66 =  396
7   x  66 =  462
8   x  66 =  528
9   x  66 =  594
10   x  66 =  660